/* -------------------------------------------- */
/* Basic Styling */
/* -------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #FFF;
    color: #555;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: "-";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* -------------------------------------------- */
/* Reusable Elements */
/* -------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.icon-box {
    text-align: center;
}

/* ------ Headings ------ */

h1,
h2,
h3 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    font-family: 'Concert One', cursive;
    margin-top: 0;
    margin-bottom: 20px;
    color: #E74C3C;
    font-size: 275%;
    word-spacing: 3px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 175%;
    color: #FFF;
    word-spacing: 4px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}

h3:after {
    display: block;
    height: 2px;
    background-color: #E74C3C;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h4 {
    font-size: 105%;
    display: block;
    font-family: 'Montserrat', sans-serif;
}

/* ------ Paragraphs ------ */
.company-intro {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    font-family: 'Montserrat', sans-serif;
}

.about-us {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    font-family: 'Montserrat', sans-serif;
}

/* ------ Icons ------ */
.icon-large {
    font-size: 350%;
    display: block;
    color: #E74C3C;
    margin-bottom: 10px;
}

/* ------ Buttons ------ */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #E74C3C;
    border: 1px solid #E74C3C;
    color: #FFF;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #E74C3C;
    color: #FFF;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #D62C1A;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #E74C3C;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #E74C3C;
    color: #FFF;
}

/* -------------------------------------------- */
/* The Header */
/* -------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(../css/img/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.company-name {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    text-decoration: none;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 48px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    font-family: 'Concert One', cursive;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #E74C3C;
}

.divider {
    height 15px;
    width: 100%;
    background-color: #E74C3C;
}

/* -------------------------------------------- */
/* Menu Items */
/* -------------------------------------------- */

img {
    max-width: 100%;
}

.menu-items {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F4F4
}

/* -------------------------------------------- */
/* Coming Soon */
/* -------------------------------------------- */

.coming-soon {
    background-color: #F4F4F4
}

/* -------------------------------------------- */
/* Contact Form */
/* -------------------------------------------- */

.contact-form {
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    outline: none;
    box-shadow: none !important;
    border: 1px solid #CCC !important;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

input[type=submit] {
    line-height: normal;
    font-weight: bolder;
}

input[type=submit]:hover {
    line-height: normal;
    font-weight: bolder;
    border: 1px solid #E74C3C;
    color: #FFF;
}

/* -------------------------------------------- */
/* Footer */
/* -------------------------------------------- */

footer {
    background-color: #000;
    padding: 50px;
    font-size: 100%;
    color: #E74C3C;
}

.social-icons {
    list-style: none;
    float: none;
}

.social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons li a:link,
.social-icons li a:visited {
    text-decoration: none;
    border: 0;
    color: #E74C3C;
    transition: color 0.3s;
}

.social-icons li a:link,
.social-icons li a:visited {
    font-size: 100%;
}

.ion-social-twitter,
.ion-social-linkedin,
.ion-social-github {
    transition: color 0.3s;
}


.ion-social-twitter:hover {
    color: #00ACED;
}

.ion-social-linkedin:hover {
    color: #0077B5;
}

.ion-social-github:hover {
    color: #F5F5F5;
}

.hours,
.address-and-number {
    font-size: 75%;
}
